- hosts: web
  become: yes
  tasks:
    - name: Install packages
      apt:
        name:
          - apache2
          - php
        state: present
        update_cache: yes

    - name: Start Apache
      service:
        name: apache2
        state: started
        enabled: yes

    - name: Deploy app
      copy:
        dest: /var/www/html/index.php
        content: |
          <?php
          echo "<h1>Welcome to Streamline - v1</h1>";
          echo "<p>Server IP: " . $_SERVER['SERVER_ADDR'] . "</p>";
          ?>
